body{
    background-color: rgb(228, 214, 214);
}

*{
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.nav {
    display: flex;
    background-color: rgb(175, 133, 69);
    height: 40px;
    align-items: center;
    justify-content: center;
}
.nav ul {
    margin: 0 10px;
    list-style-type: none;
    list-style: none;
    display: flex;
    gap: 50px;
}
.futbol{
    background-color: rgb(228, 199, 162);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.playa{
    background-color: rgb(255, 211, 152);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.cristo{
    background-color: rgb(185, 156, 114);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.beto{
    background-color: rgb(228, 199, 162);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
} 
.gastronomia{
    background-color: rgb(255, 211, 152);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.cataratas{
    background-color: rgb(185, 156, 114);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.amazonas{
    background-color: rgb(228, 199, 162);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
} 
.carnaval{
    background-color: rgb(255, 211, 152);
    margin: 5px;
    border-radius: 10px;
    height: max-content;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}
h2{
    text-decoration: underline;
    color: rgb(4, 94, 44);
}
h3{
    color: rgb(112, 16, 16);
}
#lista_playas{
    text-align: left;
    justify-content: flex-start;
}
.lista_amazonas{
    text-align: left;
    justify-content: flex-start;
}
.lista_beto{
    text-align: left;
    justify-content: flex-start;
    list-style-type: none;
}
.lista_footer{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}