*{
    background-color:  rgb(228, 214, 214);   
}
.contenedor{
    justify-content: center;
    text-align: center;
}
.nav {
    display: flex;
    background-color: rgb(175, 133, 69);
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}
.nav ul {
    margin: 0 10px;
    list-style-type: none;
    list-style: none;
    display: flex;
    gap: 50px;
}
img{
    width: 20%;
}
.nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;   
    justify-content: center;
} 
