*{
    background-color:  rgb(228, 214, 214);   
}
.contenedor{
    justify-content: center;
    text-align: center;
}
.nav{
    justify-content: center;
    text-align: center;
}
img{
    width: 20%;
}
.nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;   
    justify-content: center;
} 
